/* Utils */
body {
  font-family: Roboto, sans-serif;
}

:root {
  --basic-text-color: #212121;
  --title-text-color: #ffffff;
  --secondary-text-color: #757575;
  --accent-text-color: #2196f3;
  --background-color: #2f303a;
  --button-color-portfolio: #f5f4fA;
  --client-color-img: #afb1b8;
}

/* Base */
body {
  color: var(--basic-text-color);
  background-color: #ffffff;
}

*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
p,
ul {
  padding: 0;
  margin: 0;
}

/* delete list dot */
.list,
.filter,
.footer__list,
.clients__list {
  list-style: none;
}

/* Components */
.logo {
  color: var(--basic-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.37;
  letter-spacing: 0.04em;
  text-decoration: none;
}

.logo__first {
  color: var(--accent-text-color);
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Footer logo */
.footer__logo {
  display: block;
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 20px;
}

.primary__button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px 32px;
  border: 0px;
  font-size: 16px;
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.primary__button:focus,
.primary__button:hover {
  cursor: pointer;
  background-color: #188CE8;
}

/* Filter */
.filter__button {
  border: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  font-size: 16px;
  background-color: var(--button-color-portfolio);
  font-family: inherit;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  -webkit-transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, -webkit-box-shadow;
  transition-property: color, background-color, box-shadow;
  transition-property: color, background-color, box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button {
  padding: 6px 25px;
}

.filter__button:hover,
.filter__button:focus {
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

/* Footer button */
.footer__button {
  width: 200px;
  padding: 10px 28px;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: 0;
  border-radius: 4px;
  background-color: var(--accent-text-color);
  color: var(--button-color-portfolio);
  fill: var(--button-color-portfolio);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  cursor: pointer;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  /* visibility: hidden; */
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(1.8);
          transform: translate(-50%, -50%) scale(1.8);
}

.modal__backdrop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--title-text-color);
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal__close {
  position: absolute;
  top: 5.5px;
  right: 5.5px;
}

.modal__backdrop:hover,
.modal__backdrop:focus {
  fill: var(--accent-text-color);
  cursor: pointer;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--title-text-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__title {
  padding-top: 32px;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__form {
  margin-top: 12px;
  padding: 0 32px;
}

.modal__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgb(117, 117, 117);
  position: relative;
}

.modal__icon {
  position: absolute;
  top: 28px;
  left: 12px;
}

.modal__icon:hover,
.modal__field:hover {
  fill: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}

.modal__field label {
  margin-bottom: 4px;
}

.modal__field input {
  margin: 0;
  padding: 11px 42px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  height: 40px;
}

.modal__field input:hover,
.modal__field input:focus,
.modal__icon:hover {
  cursor: pointer;
  border-color: rgb(33, 150, 243);
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__field:focus-within .modal__icon {
  fill: rgb(33, 150, 243);
}

.modal__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;
  color: rgba(75, 75, 75, 0.5);
}

.modal__comment textarea:hover,
.modal__comment textarea:focus,
.check:hover,
.modal__check:focus {
  cursor: pointer;
  border-color: rgb(33, 150, 243);
  outline: none;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__check {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--secondary-text-color);
}

.modal__icon-check {
  width: 16px;
  height: 15px;
  border: 2px solid var(--background-color);
  border-radius: 2px;
  outline: none;
  margin-right: 7px;
}

.check {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.checkbox:checked + .modal__icon-check {
  background-color: var(--accent-text-color);
  border-radius: 2px;
  border-color: var(--accent-text-color);
  background-image: url(../images/iconch.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-origin: border-box;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.modal__comment label {
  margin-bottom: 4px;
}

.modal__comment textarea {
  margin: 0;
  font-family: inherit;
  padding: 12px 16px;
  height: 120px;
  border-radius: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  resize: none;
}

.modal__comment textarea::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment textarea::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment textarea:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment textarea::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__comment textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__link {
  color: rgb(33, 150, 243);
}

.modal__button-title {
  margin-top: 30px;
  border-radius: 4px;
  padding: 10px 52px;
  border: 0px;
  font-size: 16px;
  background-color: var(--accent-text-color);
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  -ms-flex-line-pack: center;
      align-content: center;
  justify-items: center;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.modal__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__button-title:hover,
.modal__button-title:focus {
  cursor: pointer;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Layot */
.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section,
.advatages,
.section__filter,
.about,
.team,
.clients {
  margin: 0 auto;
  padding-bottom: 94px;
}

.section__filter,
.advatages,
.team,
.clients {
  padding-top: 94px;
}

.container .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}

.header__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 91px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.navigation__list {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
}

.navigation__link {
  display: block;
  color: var(--basic-text-color);
  text-decoration: none;
  position: relative;
  padding-bottom: 32px;
  padding-top: 32px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--accent-text-color);
}

.navigation__link--selected {
  color: var(--accent-text-color);
}

.navigation__link--selected::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__contacts {
  gap: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
}

.contacts__mail-icon {
  fill: var(--secondary-text-color);
  width: 16px;
  height: 12px;
}

.contacts__tel-icon {
  fill: var(--secondary-text-color);
  width: 10px;
  height: 16px;
}

/* contact info */
.header__contacts {
  font-size: 14px;
  list-style: none;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.contacts__tel,
.contacts__mail,
.contacts__mail-icon,
.contacts__tel-icon {
  color: var(--secondary-text-color);
  text-decoration: none;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__mail:hover .contacts__mail-icon,
.contacts__mail:hover,
.contacts__mail:focus,
.contacts__mail:focus .contacts__mail-icon,
.contacts__tel:hover,
.contacts__tel:focus,
.contacts__tel:hover .contacts__tel-icon,
.contacts__tel:focus .contacts__tel-icon {
  fill: var(--accent-text-color);
  color: var(--accent-text-color);
}

.primary {
  padding: 200px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/main-img.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-img.jpg);
  background-size: cover;
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
}

.primary__title {
  margin: 0 auto;
  margin-bottom: 30px;
  max-width: 696px;
  color: var(--title-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.advatages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - 90px) / 4);
      flex-basis: calc((100% - 90px) / 4);
}

.advatages__info {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advatages__list li::before {
  display: block;
  content: "";
  height: 120px;
  border-radius: 4px;
  background-color: var(--button-color-portfolio);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.advatages__icon-antenna::before {
  background-image: url(../images/antenna.svg);
}

.advatages__icon-clock::before {
  background-image: url(../images/clock.svg);
}

.advatages__icon-laptop::before {
  background-image: url(../images/diagram.svg);
}

.advatages__icon-spaceman::before {
  background-image: url(../images/astronaut.svg);
}

.advatages__text {
  max-width: 270px;
  font-size: 14px;
  color: var(--secondary-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.about__block {
  margin-right: 30px;
  max-width: 370px;
}

.about__block:last-child {
  margin-right: 0;
}

.about__title {
  margin-bottom: 50px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.about__wrap {
  position: relative;
}

.about__wrap::before {
  display: inline-block;
  position: absolute;
  content: "";
  background-color: var(--background-color);
  width: 100%;
  height: 70px;
  opacity: 0.8;
  bottom: 3px;
}

.about__info {
  position: absolute;
  bottom: 27px;
  left: 50%;
  -webkit-transform: translate(-50%, -25%);
          transform: translate(-50%, -25%);
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.team {
  background-color: #F5f4Fa;
}

.team__card {
  background-color: var(--title-text-color);
  max-width: 270px;
  text-align: center;
  padding-bottom: 30px;
  margin-right: 30px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__card:last-child {
  margin-right: 0;
}

.team__card img {
  margin-bottom: 30px;
}

.team__title {
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.card__title {
  font-size: 16px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.card__about {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.card__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-preferred-size: calc((100% - 30px) / 4);
      flex-basis: calc((100% - 30px) / 4);
}

.card__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--client-color-img);
  background-color: var(--title-text-color);
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card__icon:hover,
.card__icon:focus {
  fill: var(--title-text-color);
  background-color: var(--accent-text-color);
}

.clients__title {
  font-size: 36px;
  margin-bottom: 50px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
}

.clients__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 170px;
  height: 92px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: var(--client-color-img);
  background-color: var(--title-text-color);
  border-radius: 4px;
  border: 1px solid var(--client-color-img);
  -webkit-transition-property: fill, border;
  transition-property: fill, border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  -ms-flex-preferred-size: calc((100% - 150px) / 6);
      flex-basis: calc((100% - 150px) / 6);
}

.clients__icon:hover,
.clients__icon:focus {
  fill: var(--accent-text-color);
  border: 1px solid var(--accent-text-color);
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -ms-flex-line-pack: center;
      align-content: center;
}

.portfolio__link {
  text-decoration: none;
}

.portfolio__list {
  -ms-flex-preferred-size: calc((100% - 60px) / 3);
      flex-basis: calc((100% - 60px) / 3);
  text-align: left;
  gap: 30px;
  padding: 0;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list:hover,
.portfolio__link:focus,
.portfolio__list:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__wrap::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(295px);
          transform: translateY(295px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__list:hover .portfolio__wrap::before,
.portfolio__link:focus .portfolio__wrap::before,
.portfolio__link:focus .portfolio__info,
.portfolio__list:hover .portfolio__info {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__info {
  position: absolute;
  top: 63px;
  left: 24px;
  right: 24px;
  color: var(--title-text-color);
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateY(295px);
          transform: translateY(295px);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 370px;
  border-style: none;
}

.portfolio__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--basic-text-color);
}

.portfolio__direction {
  font-size: 16px;
  color: var(--secondary-text-color);
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__topic {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.footer {
  margin: 0 auto;
  padding: 60px 0;
  background-color: var(--background-color);
}

.footer__info {
  margin-right: 80px;
}

.footer__contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer__address {
  color: var(--title-text-color);
  margin: 0 auto;
  margin-bottom: 9px;
}

.footer__mail,
.footer__tel {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  margin: 0 auto;
}

.footer__mail-list {
  margin-bottom: 9px;
}

.social__item {
  color: var(--button-color-portfolio);
  font-size: 14px;
  letter-spacing: 0.03em;
  font-weight: 700;
  line-height: 1.17;
  text-transform: uppercase;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.footer__social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 93px;
}

.social__item {
  margin-bottom: 20px;
}

.social__logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-self: start;
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 44px;
  height: 44px;
  fill: var(--title-text-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:hover,
.social__icon:focus {
  fill: var(--title-text-color);
  background-color: var(--accent-text-color);
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}

.footer__item {
  font-family: inherit;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
  color: var(--button-color-portfolio);
  margin-bottom: 20px;
}

.form input {
  padding: 15px 16px;
  width: 358px;
  background-color: var(--background-color);
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: var(--button-color-portfolio);
  outline: none;
}

.form input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
}

.form input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
}

.form input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
}

.form input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
}

.form input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: 0.03em;
  text-align: left;
}/*# sourceMappingURL=main.css.map */