:root {
    --basic-text-color: #212121;
    --title-text-color: #ffffff;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --background-color: #2f303a;
    --button-color-portfolio: #f5f4fA;
    --client-color-img: #afb1b8;
}