.advatages__list {
    display: block;
    max-width: 450px;
}

@media screen and (min-width: 768px) {
    .advatages__list {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
        max-width: none;
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .advatages__list {
        gap: 30px;
        max-width: none;
        margin-bottom: 0;
        flex-basis: calc((100% - 90px) / 4)
    }
}

.advatages__info {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .advatages__info {
        text-align: left;
    }
}

.advatages__list li::before {
    display: block;
    content: "";
    height: 120px;
    border-radius: 4px;
    background-color: var(--button-color-portfolio);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
}

.advatages__icon-antenna::before {
    background-image: url(../images/antenna.svg);
}

.advatages__icon-clock::before {
    background-image: url(../images/clock.svg);
}

.advatages__icon-laptop::before {
    background-image: url(../images/diagram.svg);
}

.advatages__icon-spaceman::before {
    background-image: url(../images/astronaut.svg);
}

@media screen and (max-width: 767px) {
    .advatages__icon-laptop,
    .advatages__icon-clock,
    .advatages__icon-antenna {
        margin-bottom: 30px;
    }
}

.advatages__text {
    max-width: 450px;
    font-size: 14px;
    color: var(--secondary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

@media screen and (min-width: 768px) {
    .advatages__text {
        max-width: 354px;
    }
}

@media screen and (min-width: 1200px) {
    .advatages__text {
        max-width: 270px;
    }
    
}