.footer {
    margin: 0 auto;
    padding: 60px 0;
    background-color: var(--background-color);
}

.footer__info {
    margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
    .footer__info {
        text-align: center;
        // margin-left: 76px;
        // margin-right: 165px;
        margin-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer__info {
        margin-right: 80px;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.footer__contacts {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer__address {
    color: var(--title-text-color);
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__address {
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer__address {
        margin-bottom: 9px;
        margin-left: 0;
    }
}

.footer__mail,
.footer__tel {
    display: block;
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;
    margin: 0 auto;
    margin-bottom: 8px;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__mail,
    .footer__tel {
        display: block;
        color: rgba(255, 255, 255, 60%);
        text-decoration: none;
        margin: 0 auto;
        text-align: center;
    }
}

@media screen and (min-width: 1200px) {
    .footer__mail,
    .footer__tel {
        display: block;
        color: rgba(255, 255, 255, 60%);
        text-decoration: none;
        margin: 0 auto;
        text-align: left;
    }    
}

@media screen and (min-width: 768) {
    .footer__list {
        text-align: center;
    }
}

.footer__mail-list {
    margin-bottom: 9px;
}

.social__item {
    color: var(--button-color-portfolio);
    font-size: 14px;
    letter-spacing: 0.03em;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
}

.footer__information {
    margin-bottom: 60px;
}    

@media screen and (min-width: 768px) {
    .footer__information {
        max-width: 768px;
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-around;
    }
}

@media screen and (min-width: 1200px) {
    .footer__information {
        margin-right: 93px;
        margin-bottom: 0;
    }
}


@media screen and (min-width: 1200px) {
    .footer__container {
        display: flex;
        align-items: baseline;
    }
}

.footer__social {
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer__social {
        text-align: center;
        // margin-left: 0;
    }
}

@media screen and (min-width: 1200px) {
    .footer__social {
        justify-content: center;
        text-align: left;
        margin-left: 0;
    }
}

.social__item {
    margin-bottom: 20px;
}

.social__logos {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-self: center;
    justify-content: center;
    list-style: none;
}

@media screen and (min-width: 1200px) {
    .social__logos {
            justify-self: start;
        } 
    .footer__subs {
    }
}

.social__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill: var(--title-text-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon:hover,
.social__icon:focus {
    fill: var(--title-text-color);
    background-color: var(--accent-text-color);
}

.form {
    display: block;
}

@media screen and (min-width: 768px) {
    .form {
        align-items: center;
        margin-right: auto;
        margin-left: auto;
    }

}

@media screen and (min-width: 1200px) {
    .form {
        display: flex;
        align-items: center;
        justify-content: right;
    }
}

.footer__item {
    font-family: inherit;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-align: center;
    text-transform: uppercase;
    color: var(--button-color-portfolio);
    margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
    .footer__item {
        text-align: left;
    }
}
.form input {
    padding: 15px 16px;
    width: 100%;
    background-color: var(--background-color);
    border-radius: 4px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--button-color-portfolio);
    outline: none;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .form input {
        margin-left: auto;
        margin-right: auto;
        align-items: center;
        width: 450px;
        margin-bottom: 0;
        margin-left: 144px;
        margin-bottom: 20px;
    }
}

@media screen and (min-width: 1200px) {
    .form input {
        width: 358px;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 12px;
    }
    
}

.form input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0.03em;
    text-align: left;
}