.primary {
    padding: 200px 0;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(../images/main-img.jpg);
    background-size: cover;
    max-width: 1600px;
    background-repeat: no-repeat;
    background-position: center;
}
.primary__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 696px;
    color: var(--title-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}