.primary {
    padding: 118px 0;
    margin: 0 auto;
    text-align: center;
    background-color: var(--background-color);
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
         url(./images/main_img_480.jpg);
    background-size: cover;
    max-width: 480px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-device-pixel-ratio: 2),
        (min-resolution: 96dpi) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)),
                url(./images/main_img_480@2x.jpg);
        }
}

@media screen and (min-width: 768px) {
    .primary {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(../images/main_img_768.jpg);
        max-width: 768px;

        @media (min-device-pixel-ratio: 2),
            (min-resolution: 96dpi) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(../images/main_img_768@2x.jpg);
            }
    }
}

@media screen and (min-width: 1200px) {
    .primary {
        padding: 200px 0;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                rgba(47, 48, 58, 0.4)),
            url(/images/main-img.jpg);
        max-width: 1600px;

        @media (min-device-pixel-ratio: 2), 
            (min-resolution: 96dpi) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4),
                        rgba(47, 48, 58, 0.4)),
                    url(/images/main-img@2x.jpg);
        }
    }
}
.primary__title {
    margin: 0 auto;
    margin-bottom: 30px;
    max-width: 360px;
    color: var(--title-text-color);
    font-size: 26px;
    font-weight: 900;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
@media screen and (min-width: 1200px) { 
    .primary__title {
            max-width: 696px;
            color: var(--title-text-color);
            font-size: 44px;
            line-height: 1.36;
        }
}
