h1,
h2,
h3,
p,
ul {
    padding: 0;
    margin: 0;
}
        /* delete list dot */
.list,
.card__logo,
.filter,
.footer__list,
.mobile-menu,
.mobile-menu__list,
.mobile-menu__contacts,
.clients__list {
    list-style: none;
}